*{
	margin: 0;
	padding :0;
	box-sizing: border-box ;
	font-family: sans-serif ;
}
body{
	background-color : #F2F3FFDB
}
.bankimg{
	display :flex ;
	justify-content :center ;
	background-color :#2CCD7D00;
	padding :15px 
}
a{
	text-decoration: none ;
	color :black ;
}
.bankimg img{
	width :35px ;
	border-radius :50%;
	position :absolute ;
	box-shadow: 0 1px 0.8px rgba(0,0,0,0.5)
	
}
header {
	display: flex ;
	justify-content :center ;
}
header  img {

	width :420px;
}
.container {
	
	display :grid ;
	justify-content :center ;
}
.section {
	display :flex ;
	justify-content :center ;
}
.infos2 h4{
	display :flex ;
	padding :5px ;
	padding-left: 0;
}
.infos2 span p{
	font-size :80%;
	align-items: center ;
}
.infos2{
	margin-top  :15px
}
#amount1{
	margin-top :20px;
	display :flex ;
	justify-content :center ;
}
.infos2, 
.infos{
	display :inline-block ;
	padding :10px ;
	padding-top  :0;
	width :380px;
	background-color :#FFFFFF;
	border-radius :10px ;

}
.name{
	display :flex ;
	margin-top :30px;
	justify-content :center ;
	align-items: center ;
	
}
#name1 {
	text-transform: uppercase;
}
.date{
	display :inline-block  ;
	width :100%
}
.time-img img{
	width :300px
}
.name h4{
	padding-right: 5px 
}
.name h3{
	font-size: 1.1em 
}
.date-info{
	display :flex ;
	justify-content :space-between  ;
	
	position :relative ;
	width :300px
	
} 
.time-img{
	display :flex ;
	justify-content :center ;
}
.datesection {
	display :flex ;
	justify-content :center ;
}
ul, 
ul p{
	display :flex ;
	font-size :80%
}
#amount{
	display :flex ;
	justify-content :center ;
	margin-top :30px
}

#notification{
	display :flex ;
	justify-content :center ;
	padding :10px ;
	font-size :80%
}
.note{
	display :flex ;
	justify-content :center ;
	padding :10px 
}
.note h5{
	font-size: 70%;
	background-color : #F0F0F0;
	border-radius :10px ;
	padding :5px ;
	display :flex ;
	justify-content :center ;
	
}
.foot, 
.tt{
	display :flex ;
	justify-content :center 
}
footer, 
.total {
	display :flex ;
	align-items: center ;
	justify-content :space-between ;
	width :350px
} 
.total span{
	display :grid ;
	justify-content :center ;
}
.total span p{
	padding :3px ;
	font-size: 70%
}

.infos2 span {
	display :flex ;
	justify-content :space-between ;
	margin-top :10px;
}
footer {
	padding :5px ;
	justify-content :space-around  ;
}
footer h5:nth-child(1){
	font-size: 1rem ;
	padding :15px 25px ;
	border-radius :50px ;
	border: 2px solid #55AB8D;
}
footer h5:nth-child(2){
	background-color :#55AB8D;
	padding :15px 25px;
	border-radius :50px;
	font-size: 1rem ;
}
#fee{
	text-align  :right ;
	
}